{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container {
      border: red 10px double;
      margin: auto;
      width: 70%;
      box-sizing: border-box;
  }
  
  .container::after {
    content: "";
    display: table;
    clear: both;
}
  
  .services{
      border: green 2px dotted;
      box-sizing: border-box;
    }  
  
    .centered {
        width: 95%;
        margin: auto;
    }
    
  #op1 {
  
      margin: auto;
      width:95%;
  }
  
  #op2 {
  
      float: left;
      width:45%;
  }
  
  #op3 {
  
      float: left;
      width: 45%;
  }