        * {
            text-decoration: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        html {
            background: linear-gradient(45deg, #3f87a6, #ebf8e1, #f69d3c);
            background-size: 600% 600%;
            animation: gradient 15s ease infinite;
        }

        body {
            background: transparent;
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 2%;
            overflow-x: hidden;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 1250px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */        
        }

        body::-webkit-scrollbar {
            display: none;
        }
        
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            width: 100%;
            max-height: 100vh;
            /* Adjust as necessary */
            overflow-y: auto;
        }

        .sidebar {
            position: sticky;
            top: 0;
            background-color: transparent;
            width: 25%;
            box-sizing: border-box;
        }

        .sidebar * {
            padding-bottom: 1rem;
        }

        .socialMedia {
            display: flex;
        }

        .w-6 {
            width: 1.5rem;
            --tw-text-opacity: 1;
            color: rgb(148 163 184/var(--tw-text-opacity));
        }

        .h-6 {
            height: 1.5rem;
            --tw-text-opacity: 1;
            color: rgb(148 163 184/var(--tw-text-opacity));
        }

        .main-content {
            width: 75%;
            box-sizing: border-box;
            flex-shrink: 0; /* prevent the main content from shrinking if sidebar gets bigger */
            overflow-y: auto; /* add scrollability */
            max-height: 100vh; /* ensure it doesn't overflow the viewport vertically */
            scrollbar-width: none; /* for Firefox */
        }

        .main-content::-webkit-scrollbar {
            display: none;
        }        

        #about-me>* {
            padding-bottom: 5%;
        }

        .main-content section {
            margin-bottom: 10%;
        }

        .container {
            max-width: 1000px;
            margin: 40px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .project-card {
            background-color: #fff;
            margin: 20px 0;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            flex: 1 1 calc(20% - 40px);
            margin: 20px;
            transition: all 0.3s ease;
        }

        .project-card:hover {
            transform: scale(1.03);
        }

        .project-card img {
            max-width: 100%;
        }

        .project-card h3 {
            margin: 0;
        }

        .project-card p {
            font-size: 0.9em;
            line-height: 1.5;
        }

        @media screen and (max-width: 768px) {
            body {
                flex-direction: column;
                display: block;
                max-height: none;
            }

            .content {
                flex-direction: column;
                max-height: none;
            }        

            .sidebar {
                position: relative;
                height: auto;
            }

            .sidebar,
            .main-content {
                width: 100%;
            }
        }