        * {
            text-decoration: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        html {
            background: rgb(15 23 42);
        }

        body {
            background: transparent;
            font-family: sans-serif;
            color: #c1c4cc;
            line-height: 1.7;
            margin: 1em 0;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            display: flex;
            justify-content: center;
            width: 100%;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        body::-webkit-scrollbar {
            display: none;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            max-width: 1250px;
            max-height: 100vh;
        }

        .sidebar {
            position: sticky;
            top: 0;
            background-color: transparent;
            width: 30%;
            box-sizing: border-box;
            color:  rgba(208, 203, 203, 0.05);
            margin-left: 1rem;
        }

        .sidebar h1 a {
            font-size: 3rem;
            line-height: 1;
            color:  #c1c4cc;
        }

        .sidebar p a {
            color:  #c1c4cc;
        }

/* Icons Area */

        .socialMedia {
            display: flex;
            padding-top: 1rem;
        }

        .projectIcons {
            display: flex;
            padding-top: 1rem;
            
            justify-content: flex-start;  /* This aligns the icons to the left */
        }


        .socialMedia a svg {
            transition: fill 0.3s ease;
        }

        .socialMedia a:hover svg {
            fill: #007BFF;
            transition: all 0.3s ease;
        }

        .w-6 {
            width: 1.5rem;
            --tw-text-opacity: 1;
            color: rgb(148 163 184/var(--tw-text-opacity));
            padding-right: 0.5rem;
        }

        .h-6 {
            height: 1.5rem;
            --tw-text-opacity: 1;
            color: rgb(148 163 184/var(--tw-text-opacity));
        }

        .main-content {
            width: 70%;
            box-sizing: border-box;
            flex-shrink: 0;
            /* prevent the main content from shrinking if sidebar gets bigger */
            overflow-y: auto;
            /* add scrollability */
            max-height: 100vh;
            /* ensure it doesn't overflow the viewport vertically */
            scrollbar-width: none;
            /* for Firefox */
        }

        .main-content::-webkit-scrollbar {
            display: none;
        }

        .main-content p {
            margin-top: 1%;
            /* Adjust this value as needed */
        }

        .section-title {
            display: none;
            margin: 0;
            padding: 3% 0;
        }

        #about-me>* {
            padding-bottom: 5%;
        }

        .main-content section {
            margin-bottom: 10%;
        }

        /* Experience section styling: */

        .experience-item {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            margin: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: transparent;
            transition: all 0.3s ease;
            min-height: 21rem;
            /* making boxes the same size */
            border: 1px solid transparent;
            /* avoiding jumping  */

        }

        .experience-item:hover {
            border-radius: .25rem;
            border: 1px solid rgba(208, 203, 203, 0.05);
            background-color: rgba(208, 203, 203, 0.05);
            transition: all 0.3s ease;
        }

        .heading-container {
            flex-basis: 20%;
            /* adjust as needed */
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .heading-container h3,
        .heading-container h4 {
            margin: 0;
            width: 9rem;
        }

        .experience-content {
            flex-basis: 70%;
            /* adjust as needed */
        }

        .experience-content h4,
        .experience-content p {
            margin: 0;
        }

        .container {
            margin: 0 auto;
            padding: 0 0;
            /* max-width: 1000px; */
            /* margin: 40px auto; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .project-card {
            border-radius: .25rem;
            background-color: rgba(208, 203, 203, 0.05);
            margin: 1rem 0;
            padding: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            flex: 1 0 40%;
            margin: 20px;
            transition: all 0.3s ease;
            min-width: 30%;
            
            display: flex;
            flex-direction: column;   /* To arrange the content in a column */
            justify-content: space-between;   /* This will push your content to the edges of your card */
            height: 100%;    /* This will occupy the full height of parent. */
        }

        .project-card:hover {
            transform: scale(1.03);
        }

        .project-card img {
            max-width: 100%;
            display: block;
            margin: 0 auto;        
        }

        .project-card h3 {
            margin: 0;
        }

        .project-card p {
            font-size: 0.9em;
            line-height: 1.5;
        }

        .main-content a,
        h4 {
            font-weight: bold;
            color: #c1c4cc;
            text-decoration: none;
        }

        .main-content a:hover {
            color: #007BFF;
            /* change the color of the link text */
            text-decoration: none;
            /* underline the link text */
        }

        .nav-indicator {
            display: inline-block;
            text-decoration: none;
            color: rgba(208, 203, 203, 0.05);
            transition: color 0.3s ease;
            padding-top: 1rem;
        }

        .nav-indicator:hover {
            color: #007BFF;
            /* change color when hover */
        }

        .nav-indicator.active {
            color: #007BFF;
            /*Change color when it's active*/
            border-bottom: 2px solid #007BFF;
            /*Add a bottom border to indicate the active state */
        }

        .nav-indicator:focus {
            outline: none;
            /* remove the default focus outline */
            box-shadow: 0 0 0 2px rgba(0, 123, 255, .5);
            /* add a custom focus outline */
        }


        @media screen and (min-width: 769px) {
            .main-content {
                padding-left: 10%;
            }

            /* SETTING THE TOP PADDINGS FOR WIDE SCREEN */
            .main-content section {
                padding-top: 6rem;
            }

            .sidebar {
                padding-top: 6rem;
            }

        }

        @media screen and (max-width: 768px) {
            body {
                flex-direction: column;
                /* display: block; */
                max-height: none;
            }

            .content {
                flex-direction: column;
                max-height: none;
            }

            .sidebar {
                position: static;
                top: auto;
            }

            .sidebar,
            .main-content {
                width: 100%;
                position: static;
            }

            /* appearing-disappearing magic */
            .section-title {
                display: block;
            }

            .sidebar nav li {
                display: none;
            }

            .experience-item {
                flex-direction: column;
            }

            .experience-item h3 {
                text-align: center;
                margin-bottom: 20px;
            }

            .experience-content {
                text-align: center;
            }
        }